@font-face {
  font-family: sacramento;
  src: url(../fonts/Sacramento-Regular.ttf) format("opentype");
}

.container {
  position: relative;
}

.content {

}

.logo {
  text-align: center;
}

.logo_text {
  margin-top: 1em;
}

.coming-text {
  font-family: sacramento;
  font-size: 3em;
  color: #1b1919;
  font-weight: 500;
  text-align: center;
  margin-top: .2em;
}
